<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<div class="main">
        <div class="header">
            <div id="timer">@encounterDuration Time</div>
            <div id="fiftyprocent"><input id="ttkcheckbox" type="checkbox"/> 50% TTK</div>
            <div id="targetName">@encounterName</div>
        </div>
        <div class="container">
            <div class="target-remaining-time" id="ttk"> TTK</div>
            <div id="kt">00:00 KT</div>
            <div class="target-rdps" id="rDPS">@groupDps rDPS</div>
        </div>
        <div class="footer">
            <div class="progress-hp"><div class="progress-hpprocent" style="width: 0%;"><p id="currentHPProcent"> %</p></div></div>
        </div>
</div>


<div id="encounter-info" class="encounter-info">
    <div class="encounter-hp">@encounterHp</div>
</div>
