@model XIVMicroPaserDalamud.TargetInfoModel
<div id="xivmicro-paser-dalamud">
    <div id="hp-bar" style="width: @Model.HpRatio%"></div>
    <div id="rdps">@Model.Rdps</div>
    <div id="remaining-time">@Model.RemainingTime</div>
</div>
