@model XIVMicroPaserDalamud.TargetInfoModel
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<div class="main">
        <div class="header">
            <div id="timer">00:00 Time</div>
            <div id="fiftyprocent"><input id="ttkcheckbox" type="checkbox"/> 50% TTK</div>
            <div id="targetName"></div>
        </div>
        <div class="container">
            <div class="target-remaining-time" id="ttk">@Model.RemainingTime TTK</div>
            <div id="kt">00:00 KT</div>
            <div class="target-rdps" id="rDPS">@Model.Rdps rDPS</div>
        </div>
        <div class="footer">
            <div class="progress-hp"><div class="progress-hpprocent" style="width: @Model.HpRatio%;"><p id="currentHPProcent">@Model.HpRatio%</p></div></div>
        </div>
</div>
